/* Testimonial.css */
.container{
    padding: 0 8% !important;
    margin-bottom: 50px;
}
.ami{
    display: flex;
  width: 230px;
/* background-color: #f7f7f7; */
padding: 3px 10px 3px 10px;
/* gap: 10px; */
border: 0px 0px 0px 2px;
opacity: 0px;
background: #F5F5F4;

border-left: 2px solid #63B178

}

.testimonial-slider {
    position: relative;
    overflow: hidden;
    height: 230px; /* Set a fixed height to prevent layout shift */
  }
  
  .testimonial-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .testimonial-slide.active {
    opacity: 1;
    position: relative;
  }
  .mi{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    align-self: center;
    text-align: center;
  }

  @media  (max-width: 768px) {
    .container{
      padding: 0 5%!important;
    }
}