.headerr{
    padding: 1% 10% !important;
}
.hb button{
    width: Fixed (130px)px;
    height: Hug (34px)px;
    padding: 10px 38px 10px 38px;
    gap: 9px;
    border-radius: 5px;
    opacity: 0px;
    background: #080404;
    color: #fff;
}
@media  (max-width: 768px) {
    .headerr{
        padding: 1% 5% !important;
    }
}